<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Wiki Application</display-name>
	<filter>
		<filter-name>log-filter</filter-name>
		<filter-class>wiki.filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  	<listener>
  		<listener-class>wiki.web.Init</listener-class>
  	</listener>
  	<servlet>
		<servlet-name>view-page</servlet-name>
		<servlet-class>wiki.web.ViewPageServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>edit-page</servlet-name>
		<servlet-class>wiki.web.EditPageServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>publish-page</servlet-name>
		<servlet-class>wiki.web.PublishPageServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>unpublish-page</servlet-name>
		<servlet-class>wiki.web.UnpublishPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unpublish-page</servlet-name>
		<url-pattern>/unpublish/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>publish-page</servlet-name>
		<url-pattern>/publish/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>edit-page</servlet-name>
		<url-pattern>/edit/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>view-page</servlet-name>
		<url-pattern>/view/*</url-pattern>
	</servlet-mapping>
</web-app>